# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
backend/node_modules/
frontend/node_modules/
**/node_modules/

# build
dist/
build/
backend/dist/
web-build/

# Expo
.expo/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# env files
.env
.env.*
!.env.example

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android

.agents/